/*
Color used: 
Primary Color (White): #FFFFFF;
Secondary Color (Black): #222222;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #222222;
}

img {
  width: 100%;
}

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

footer img {
  width: 32px;
  height: 32px;
}

h1,
h2,
h3 {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: #222222;
}

.center {
  text-align: center;
}

a {
  color: #8250ff;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #8250ff;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #244aba;
}

a:active {
  /* selected link */
  color: #130a07;
}

a:hover,
a:focus {
  color: #8250ff;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #093099;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #093099; /* width of the border, type, color */
  transition: all 0.2s ease-in;
}

.button:hover {
  color: #ffffff;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:visited {
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #093099;
  text-transform: uppercase;
  border: 2px solid #093099;
  transition: all 0.2s ease-in;
}

.button.contact:hover {
  background-color: #093099;
  color: #ffffff;
}

/* Layout styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center; /* centers text*/
}

.center {
  text-align: center;
}

.logo {
  max-width: 60px;
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  display: flex;
  justify-content: space-between;
}

.navtoggle,
.navtoggle.response {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 4px;
  top: 10px;
  padding-right: 0;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba (255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

header {
  background-color: #ffe4c4;
  padding: 20px 0 20px;
  background: #ffffff;
  border: solid #bdbdbd 0;
  position: relative;
}

.box-shadow {
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
}

.large-padding {
  margin-top: 54px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #f2cdca;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* #work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
} */
footer > .container > div {
  margin-top: 25px;
  border-top: 1px solid #4a4a4a;
}

#bio {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .logo {
    max-width: 90px;
  }
  header {
    text-align: unset;
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
    display: flex;
    align-items: center;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #skills-tools {
    overflow: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 20px;
  }

  nav {
    width: auto;
    float: right;
  }

  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
